.bgall
{
    height:100vh;
    width:100%;
    transition-duration: 200ms;
    z-index: -1;
}

.h1text
{
  color:rgb(6, 1, 1);
  text-align:center;
  top:0;
  bottom:0;
  padding:20px;
}

.allbg
{
  position:fixed;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  bottom:36px;
  padding-left:6px;
  padding-right:6px;
  left:0;
  right:0;

}

.bg1
{
  display: flex;
  flex-wrap: wrap;  
  justify-content:center;
  gap:15px;
  padding:7px 12px;
  background-color: olive;
  border-radius: 10px;
  box-shadow:0 10px 15px -3px rgba(0,0,0,0.1),
    0 4px 6px -4px rgba(0,0,0,0.1);
}

.buttonclick
{
  display: flex;
  flex-wrap: wrap;  
  justify-content:center;
  gap:15px;
  border-radius: 20px;
  padding:7px 12px;
  box-shadow:0 10px 10px -3px rgba(100, 100, 100, 1),
}